@import "tailwindcss";

@theme {
  --color-primary: #22a45d;
  --color-secondary: #64db68ff;
  --color-background: #f7f9f8;
  --color-txt: #1f2933;
  --color-error: #d64545;
  --color-gold: #ffd700;

  --font-sans: "DM Sans", system-ui, sans-serif;
  --font-serif: "Poppins", system-ui, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

